<div class="header-container">
  <img src="/imagens/logo-valeshop.png" alt="Vale Shop Logo" />

  <div class="nav-links">
    @if (isLoggedIn$ | async) {

      @if (isAdmin$ | async) {
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/demandas">Demandas</a>
        <a (click)="logout()" class="logout-link">Sair</a>
      } @else {
        <a routerLink="/demandas">Demandas</a>
        <a routerLink="/cadastro-demanda">Cadastro de Demanda</a>
        <a (click)="logout()" class="logout-link">Sair</a>
      }

    }
  </div>
</div>
