<app-auth-layout>
  <div class="reset-password-form">
    <button class="btn-voltar" type="button" routerLink="/login">Voltar</button>

    <h2>Redefinir Senha</h2>
    <p class="description">
      Digite sua nova senha abaixo.
    </p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <label>Nova Senha</label>
      <input type="password" placeholder="Digite sua nova senha" formControlName="newPassword" required minlength="6"/>
      @if (resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)) {
        <div class="validation-error">
          @if (resetPasswordForm.get('newPassword')?.errors?.['required']) {
            A nova senha é obrigatória.
          }
          @if (resetPasswordForm.get('newPassword')?.errors?.['minlength']) {
            A senha deve ter no mínimo 6 caracteres.
          }
        </div>
      }

      <label>Confirmar Nova Senha</label>
      <input type="password" placeholder="Confirme sua nova senha" formControlName="confirmPassword" required />
      @if (resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)) {
        <div class="validation-error">
          @if (resetPasswordForm.get('confirmPassword')?.errors?.['required']) {
            A confirmação da senha é obrigatória.
          }
        </div>
      }
      @if (resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.dirty) {
        <div class="validation-error">
          As senhas não coincidem.
        </div>
      }

      @if(errorMessage){
        <p class="error-message">{{ errorMessage }}</p>
      }

      <button type="submit" [disabled]="resetPasswordForm.invalid || isLoading || !token">
        {{ isLoading ? 'Redefinindo...' : 'REDEFINIR SENHA' }}
      </button>
    </form>
  </div>
</app-auth-layout>
