// Importando e reutilizando estilos de forgot-password
@import '../forgot-password/forgot-password.scss';

.reset-password-form {
  @extend .forgot-password-form; 

  .validation-error {
    color: #D8000C; 
    font-size: 0.8rem;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
  }

  input.ng-invalid.ng-touched,
  input.ng-invalid.ng-dirty {
    border-color: #D8000C;
  }
}
