.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 550px; /* Ajuste conforme necessário */
  margin: 20px auto;
}

.search-bar label {
  font-weight: bold;
  font-size: 14px;
}

.search-bar input {
  background-color: #e0e0e0;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 12px;
  transition: background 0.3s;
}

.search-bar input:hover {
  background-color: #d6d6d6;
}

.demanda-card {
  padding: 16px;
  font-family: Arial, sans-serif;
}

.demanda-card h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.demanda-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.demanda-info .status {
  color: #00569E;
  font-weight: bold;
}

.demanda-desc {
  font-size: 13px;
  color: #444;
  margin-bottom: 12px;
}

.demanda-actions {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary {
  background: linear-gradient(135deg, #004075, #00569E);
  color: #fff;
  margin-left: 900px;
}

.btn-primary:hover {
  background-color: #003d80;
}

.btn-danger {
  background-color: #D32F2F;
  color: #fff;
}

.btn-danger:hover {
  background-color: #D32F2F;
}
