.painel-container {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.filters {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}

.info-text {
  margin-bottom: 20px;
  font-size: 14px;
  color: #444;
}

.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.charts {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  margin-left: 6rem;
}

.data-topo {
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  color: #444;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
 
.status-badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  text-align: center;
  min-width: 120px;
}

.status-iniciada {
  color: #00569E;
  font-weight: 600;
}

.status-autorizada {
  color: #4CAF50;
  font-weight: 600;
}

.status-liberada {
  color: #EBBA16;
  font-weight: 600;
}
