.container {
  background: #fff;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 1rem 4rem ;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 768px) {
  .container {
    margin: 2rem 1rem;
    padding: 1rem;
  }
}
