body {
    background-color: #E5E5E5;
    margin: 0px;
    box-sizing: border-box;


}

.error-message {
    margin-top: 1rem;
    color: #D8000C;
    background-color: #FFBABA;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
}